@page "/EditAuthor/{authorId:int}"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@using System.ComponentModel.DataAnnotations
@using TheatreReportingApp.DtoAndHelpers
@using TheatreReportingApp.Models
@inject NavigationManager Navigation
@inject TheatreDbContext _context;
@attribute [Authorize]

<EditForm Model="@authorDto" FormName="editAuthorForm" OnValidSubmit="@EditThisAuthor">
    <DataAnnotationsValidator />

    <div class="form-group mb-3">
        <label for="surname">Фамилия:</label>
        <InputText id="surname" class="form-control" @bind-Value="authorDto.AuthorSurname" />
        <ValidationMessage For="@(() => authorDto.AuthorSurname)" />
    </div>

    <div class="form-group mb-3">
        <label for="name">Имя:</label>
        <InputText id="name" class="form-control" @bind-Value="authorDto.AuthorName" />
        <ValidationMessage For="@(() => authorDto.AuthorName)" />
    </div>

    <div class="form-group mb-3">
        <label for="fathername">Отчество:</label>
        <InputText id="fathername" class="form-control" @bind-Value="authorDto.AuthorFathername" />
        <ValidationMessage For="@(() => authorDto.AuthorFathername)" />
    </div>

    <div class="form-group mb-3">
        <label for="work">Выберите работу автора:</label>
        <InputSelect id="work" class="form-control" @bind-Value="authorDto.SelectedJobId">
            <option value="">Выберите работу автора</option>
            @foreach (var work in worksToChoose)
            {
                <option value="@work.AuthorJobId">@work.Title</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => authorDto.SelectedJobId)" />
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
    <button type="button" class="btn btn-secondary ms-2" @onclick="Cancel">Отмена</button>
</EditForm>

@code {
    [Parameter]
    public int authorId { get; set; }
    private List<AuthorJob> worksToChoose = new();

    private AuthorsDto authorDto;

    protected override async Task OnInitializedAsync()
    {
        LoadAuthor();
        worksToChoose = await _context.AuthorJobs.ToListAsync();
    }

    private void LoadAuthor()
    {
        var author = _context.Authors.Where(a => a.AuthorId == authorId).FirstOrDefault();

        authorDto = new AuthorsDto
        {
            AuthorSurname = author.AuthorSurname,
            AuthorName = author.AuthorName,
            AuthorFathername = author.AuthorFathername,
            SelectedJobId = author.AuthorJobId
        };
    }

    private async Task EditThisAuthor()
    {
        var author = _context.Authors.Where(a => a.AuthorId == authorId).FirstOrDefault();
        if (author != null)
        {
            if (authorDto.SelectedJobId == null || authorDto.SelectedJobId == 0)
            {
                return;
            }
            author.AuthorSurname = authorDto.AuthorSurname;
            author.AuthorName = authorDto.AuthorName;
            author.AuthorFathername = authorDto.AuthorFathername;
            author.AuthorJobId = authorDto.SelectedJobId.Value;


            await _context.SaveChangesAsync();

            Navigation.NavigateTo("/Authors");
        }
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/Authors");
    }
}